body{
    justify-self: center;
    justify-content: center;
    }
   h1{
   margin-left: 100px;
   }
    img{
        height: 500px;
        width: 500px;
        margin-top: 0px;
    }
    p{
        margin-left: -20px;
    }
    